@{
    if(@Session["user"] != null)
    {
        Layout = "~/Views/Shared/viewStart1.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/viewStart.cshtml";
    }
}

<div class="container">
    <h2>About</h2>

    <div>
        <p>We provide Clothing and Watches under one roof.</p>
        <p>For both Male and Female.</p>
    </div>
</div>
