@{
    if(@ViewBag.login == "true")
    {
        Layout = "~/Views/Shared/viewStart1.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/viewStart.cshtml";
    }
}

<div class="container">

    <h2>Contact Us</h2>

    <div class="container">
        <p>AA Shopping Center</p>
        <p>Contact: 042-xxxx-xxx</p>
        <p>Branches: Lahore, Rawalpindi, Islamabad, Karachi, Faisalabad</p>
    </div>
</div>
